h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.auto-center {
    margin: 0 auto;
}

section {
    width: 400px;
    border: 5px double black;
    padding: 50px;
}

div {
    border: 1px solid black;
    padding: 20px;
}

#results {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}